<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
      <h1>¡Gracias <%= nombre %>! Tu mensaje ha sido enviado y recibido con éxito.</h1>
      <h1>Pronto me pondre en contacto con usted</h1>

    </header>
    
    <img src="/images/mess.png" alt="Gracias" width="600">

    <footer>
      <p>&copy; 2023 Mensaje de Confirmación. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
